ul {
  display: block;
  text-align: center;
}

li {
  display: inline;
  width: 100%;
  background: #4dff4d;
  top: 0;
  left: 20;
  font-size: 40px;
  margin-left: 20px;
}

#ab {
  font-style: italic;
  font-size: 50px;
  color: #ff6680;
  width: 100%;
}

#cd {
  width: 60%;
  border: 2px solid black;
  background: #ff3385;
  border-radius: 6px;
  font-size: 23px;
  display: inline-block;
}

#bc {
  width: 60%;
  border: 2px solid black;
  background: #8080ff;
  border-radius: 6px;
  font-size: 50px;
  display: inline-block;
}

#picture_of_me {
  display: inline-block;
  position: fixed
}

#de {
  width: 60%;
  border: 2px solid black;
  background: #b3ff99;
  border-radius: 6px;
  font-size: 23px;
  display: inline-block;
}

#ef {
  width: 60%;
  border: 2px solid black;
  boakground: #1ad1ff;
  border-radius: 6px;
  display: none;
  font-size: 23px;
  display: inline-block;
}


h1 {
  font-size: 55px;
}
